@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

/* *********Common*************************** */
* {
  margin: 0;
  padding: 0;
}

/* header {
  background-color: antiquewhite;
} */

/* main {
  background-color: aqua;
} */

footer {
  background: rgba(19, 19, 24, 0.05);
}

header,
main,
footer {
  position: relative;
  padding: 0 2rem;
  /* margin: 1rem; */
  margin-top: 1rem;
}

.btn-primary {
  width: 174px;
  height: 52px;
  flex-shrink: 0;

  border-radius: 8px;
  background: #FF5400;
  color: white;
  border: 0;
}


/* ********Header***************************** */
nav {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}

.nav-content {
  display: flex;
  gap: 1rem;

  align-items: center;
}

.nav-icon {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
}

#nav-idx1 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

#nav-idx2 {
  color: #FF5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.links li {
  list-style: none;
}

.links a {
  text-decoration: none;
  font-size: 1rem;
}

nav .links {
  display: flex;
  gap: 2rem;
}

.links li a {
  color: #424247;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}

#nav-home {
  color: #FF5400;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 700;
}

.toogle-btn {
  display: none;
}

.dropdown-bar {
  display: none;
  /* position: absolute; */
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, gree255n, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  overflow: hidden;
}

.dropdown-bar li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-size: cover;
  background-position: center;
  border-radius: 1rem;

  width: 100%;
  height: 500px;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-title {
  color: #FFF;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
}

.banner-des {
  /* width: 676px; */

  color: #FFF;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}

.banner-form {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;

  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
}

.banner-form input[type=text],
.banner-dropdown {
  width: 174px;
  height: 52px;
  flex-shrink: 0;

  border-radius: 8px;
  background: #FFF;

  border: 0;

  color: rgba(19, 19, 24, 0.50);
  text-align: start;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
}


/* ********Main********************************************* */
/* section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

} */
.popular-tours {
  width: 100%;
  /* height: 550px; */
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 100px;
  margin-bottom: 50px;
  /* justify-content: space-between; */

}

.popular-tours-title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;

  font-weight: 800;
}

.popular-tours-des {
  /* width: 577px; */

  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.popular-tours-content ul li {
  color: rgba(19, 19, 24, 0.70);
  margin-left: 20px;
}

.bullet-text {
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}


.destination {
  width: 100%;
  /* height: 550px; */
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 100px;
  margin-bottom: 50px;
}

.destination-title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.destination-des {
  /* width: 643px; */

  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.destination img {
  width: 100%;
  height: 100%;
}

.destination-pics .row {
  /* height: 300px; */
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.maldives {
  position: relative;
  text-align: center;
}

.indonesia {
  position: relative;
  text-align: center;
}

.srilanka {
  position: relative;
  text-align: center;
}

.north-america {
  position: relative;
  text-align: center;
}

.kashmir {
  position: relative;
  text-align: center;
}

.bangladesh {
  position: relative;
  text-align: center;
}

.bandarban {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #FFF;
  font-family: Mulish;
  font-size: 28px;
  font-weight: 800;
}

.chose {
  width: 100%;
  /* height: 550px; */
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 50px;
}

.chose-title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.chose-des {
  padding-top: 1.5rem;
  /* width: 643px; */

  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.chose-cards .row {
  /* height: 300px; */
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 1.5rem;

  /* padding: 2rem; */
}

.chose-cards .row2 {
  /* height: 300px; */
  display: grid;
  grid-template-columns: 550px;
}

.chose-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-top: 3rem;
  gap: 1rem;
}

.chose-card {
  /* border: 2px solid red; */
  padding: 1rem;

  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.80);
  background: rgba(251, 181, 99, 0.05);
}

#chose-card-blue-color {
  border: 1px solid rgba(41, 206, 246, 0.80);
  background: rgba(41, 206, 246, 0.05);
}

.chose-card img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.chose-card h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}

.chose-card p {
  /* width: 400px; */

  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.news {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 100px;
  margin-bottom: 50px;
  /* justify-content: space-between; */
}

.news1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  border: 1px solid #FF5400;
  border-radius: 16px;

  padding: 1.5rem;
}

.news1 h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;

}

.news1 p {
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.news1 input[type=text] {
  width: 393px;
  height: 52px;
  flex-shrink: 0;

  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: 0;
  padding-left: 1.5rem;
}

.news1 button {
  width: 418px;
  border-radius: 10px;

  font-size: 20px;
  font-weight: 800;
}

.news2 img {
  margin-top: 100px;
}

.news2 button {
  position: relative;
  bottom: 175px;
  left: 340px;

  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;

  border-radius: 16px;
  background: #FF5400;
}

#news-btn-1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

#news-btn-2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
}






/* *********Footer********************************************* */
.footer-all {
  width: 100%;
  height: 500px;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-des {
  padding-top: 1.5rem;

  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}


.social-links {
  padding-top: 48px;
  padding-bottom: 48px;
}

.social-links a {
  padding-left: 1rem;
}

.footer-conclusion {
  color: #131318;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 300;
}

hr {
  height: 1px;
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background: rgba(19, 19, 24, 0.10);

  margin-bottom: 3rem;
}


/* **********Media********************************************* */
@media screen and (max-width:992px) {

  nav .links {
    display: none;
  }

  .toogle-btn {
    display: block;
  }

  /* .dropdown-bar {
    display: block;
  } */

  .popular-tours {
    flex-direction: column;
  }

  .chose-cards {
    gap: 4 rem;
  }

  .banner-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:600px) {
  .toogle-btn {
    display: block;
  }

  .banner-title {
    font-size: 22px;
  }

  .banner-des {
    font-size: 14px;
    line-height: 21px;
  }

  .banner-form {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .banner-form input[type=text],
  .banner-dropdown {
    width: 255px;
    height: 52px;
  }

  .banner-dropdown {
    width: 270px;
  }

  #banner-form-btn {
    width: 270px;
    height: 52px;
  }

  .destination-pics .row {
    flex-direction: column;
  }

  .chose-cards .row {
    grid-template-columns: repeat(1, 1fr);
  }

  .chose-card {
    margin: 0 3rem;
  }

  .news {
    flex-direction: column;
  }

  .news2 {
    /* width: fit-content; */
    margin: 0 100px;

  }
}